-e git+https://github.com/newsapps/p2p-python.git@70c52f9de019b9d365137b498867934d3ca96525#egg=p2p-dev
-e git+https://github.com/newsapps/requests.git@f325b77e51e0c4db94d1f33ec54fa536c49d9bcd#egg=requests-dev
ipython